<!DOCTYPE html>
<html>
  <body>
    <h1><% title %></h1>
    <div style="display: flex; gap: 100px">
      <%- include('./layout') %>
      <div>
        <h2>File: <%= file.name %></h2>
        <p>
          Date uploaded: <%= file.dateUploaded.toLocaleDateString() %> <%=
          file.dateUploaded.getHours() %>:<%= file.dateUploaded.getMinutes()
          %>:<%= file.dateUploaded.getSeconds() %>
        </p>

        <p>
          Do you really want to delete <%= file.name %> from folder <%=
          folder.name %>?
        </p>
        <form method="POST">
          <div class="form.group">
            <input type="hidden" name="fileid" value="<%= file.id %>" />
            <br />

            <button type="submit" class="btn-primary">Delete</button>
          </div>
        </form>
        <br />
        <% if (errors) { %> <% errors.forEach(error => { %>
        <li>
          <p><%= error.msg %></p>
        </li>
        <% }) %> <% } %> <% if (message !== null) { %>
        <p><%= message %></p>
        <% } %>
      </div>
    </div>
  </body>
</html>
